.cat_list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.Categories_header {
  display: flex;
  margin: 20px 40px;
}
.Categories_header p {
  /* Caption/Default */

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  /* C1/C */

  color: #a9a9a9;
}
.Categories_header h6 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  /* C1/A */

  color: #151515;
}
.cat_list h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  /* identical to box height */

  /* C1/A */

  color: #151515;
  margin: 0 40px;
}
.applied_filters {
  display: flex;
  margin-left: 40px;
}
.applied_filters p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  /* C1/C */

  color: #a9a9a9;
}
.gridContent {
  display: flex;
}
.grid_choice {
  display: flex;
  justify-content: space-between;
}
.grid_choice i {
  font-size: 20px;
  margin: 10px;
  color: #a9a9a9;
}
.grid_choice p {
  margin-right: 20px;
}
.grid_choice_right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}
.choice_active {
  color: #151515;
}
.num_prod {
  width: 35px;
  height: 18px;
  background: #f4f8ec;
  border-radius: 12px;
  font-weight: 600;
  font-size: 10px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.num_prod span {
  margin: 0 1px;
}
.cat_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.cat_bottom div {
  align-items: center;
  display: flex;
}
.cat_bottom p {
  margin: 0 5px;
}
.cat_bottom button {
  width: 214px;
  height: 47px;
  /* C2/A */

  background: #6a983c;
  /* C2/B */

  border: 2px solid #46760a;
  box-sizing: border-box;
  border-radius: 12px;
}
.cat_bottom select {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  /* C1/J */

  color: #ffffff;
  background-color: #6a983c;
  border: none;
}
.list_view {
  flex: 9;
  display: flex;
  margin-top: 50px;
  width: 100%;
  flex-wrap: wrap;
}
