.headingCard {
  flex: 4.5;
  background-image: url("./heading.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px;
  padding: 25px;
  height: 200px;
  background-color: #f4f8ec;
  border-radius: 12px;
}
.headingCard p {
  font-family: Poppins;
  padding: 5px;
  font-size: 13px;
  color: #151515;
}
.headingCard h6 {
  font-family: Poppins;
  padding: 5px;
  font-size: 17px;
  color: #151515;
}
.headingCard button {
  border: 2px solid #92c064;
  border-radius: 12px;
  background-color: transparent;
  width: 140px;
  height: 40px;
  font-weight: bold;
  align-items: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.headingCard button:hover {
  opacity: 0.8;
}
