.navigation {
  background-color: #f9f9f9;
  width: 100vw;
  margin-left: -40px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  margin-bottom: 50px;
}
.navigation select {
  margin: 0 20px;
  background-color: #f9f9f9;
  border: none;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}
.navigation select:hover {
  opacity: 0.8;
}
