.product {
  flex: 3;
  background: #ffffff;
  /* C1/D */
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  margin: 50px 15px;
  min-width: 20%;
  position: relative;
}
.product img {
  height: 60%;
  width: 100%;
}
.product_bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20%;
}
.product_bottom {
  width: 100%;
  height: 20%;
  align-items: center;
  padding: 0 10px;
}
.product_bottom button {
  background: #6a983c;
  /* C2/B */
  width: 80px;
  height: 30px;
  color: white;

  border: 1px solid #46760a;
  border-radius: 12px;
}
.price {
  margin-left: 5px;
}
.price h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  /* C1/A */

  color: #151515;
}
.price p {
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */

  text-decoration-line: line-through;

  /* C1/C */

  color: #a9a9a9;
}

.product_top h6 {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  /* C1/A */
  margin-left: -10px;
  color: #151515;
}
.product_top p {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  /* C1/B */
  margin-left: -10px;

  color: #575757;
}
.product_top {
  margin: 15px 0;
}
.percent {
  position: absolute;
  width: 15%;
  height: 18px;
  background: #f4f8ec;
  border-radius: 12px;
  font-weight: 600;
  font-size: 10px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 25px;
  top: 25px;
}
.percent span {
  margin: 0 1px;
}

.Pstars {
  display: flex;
  height: 30px;
}
h1,
h2 {
  color: #888;
  margin: 0;
  font-weight: normal;
}

h2 {
  clear: both;
  color: #aaa;
}
em {
  display: block;
  color: #bbb;
}
p,
p a {
  color: #aaa;
  text-decoration: none;
}
p a:hover,
p a:focus {
  text-decoration: underline;
}
p + p {
  color: #bbb;
}
.detail {
  position: absolute;
  text-align: right;
}
a[href*="intent"] {
  display: inline-block;
}
/* * Prating styles */
.Prating {
  width: 150px;
  font-size: 25px;
  overflow: hidden;
  margin: 0;
}
.Prating input {
  float: right;
  opacity: 0;
  position: absolute;
}
.Prating a,
.Prating label {
  float: right;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.Prating label:hover ~ label,
.Prating input:focus ~ label,
.Prating label:hover,
.Prating a:hover,
.Prating a:hover ~ a,
.Prating a:focus,
.Prating a:focus ~ a {
  color: #151515;
  cursor: pointer;
}
.Prating2 {
  direction: rtl;
  transform: translateX(-95px) translateY(-10px);
}
.Prating2 a {
  float: none;
}
